<section id='landing'>
	<h1> Hi! I Am Maggie </h1>
	<h3> Front-End Web Developer | Photographer | BLAH | BLAH </h3>
		<a href=""><i class="fa fa-briefcase"></i></a>
		<a href=""><i class="fa fa-twitter"></i></a>
		<a href=""><i class="fa fa-twitter"></i></a>
		<a href=""><i class="fa fa-twitter"></i></a>
		<a href=""><i class="fa fa-twitter"></i></a>
		<br>
		<br>
		<br>
	
</section>
<section id='about'>
	<h1> About </h1>
</section>
<section id='work'>
	<h1> Work </h1>
	<div class='showcase'>
		<div class='minicase'>
		</div>
	</div> 
	<div class='showcase'>
		<div class='minicase'>
		</div>
	</div> 
	<div class='showcase'>
		<div class='minicase'>
		</div>
	</div> 
</section>
<div class='nav'>
<a href='#landing'> home </a> 
	<a href='#about'> about </a> 
		<a href='#work'> work </a> 
</div>